<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xanderye.mapper.ServiceConfigMapper">
    <resultMap id="BaseResultMap" type="cn.xanderye.entity.ServiceConfig">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="status" property="status"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
        <collection column="id" property="mailContactList" ofType="java.lang.Long"
                    select="cn.xanderye.mapper.ServiceMailContactMapper.selectContactListByServiceId"/>
    </resultMap>

    <select id="getFullServiceConfig" resultMap="BaseResultMap">
        select * from service_config where id = #{id}
    </select>
</mapper>
